* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.h {
    margin: 20px;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(173, 175, 177);
    border-radius: 10px;
}

.input {
    text-align: right;
    width: 100%;
    max-width: 250px;
    height: 70px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

.button {
    height: 50px;
    width: 60px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
    font-size: 24px;
}
